<!--%= content_for :head do %>-->
    <title>Festividad</title>
<!--% end %>

<!--%= content_for :intro do %>-->
    <h1>Festividad</h1>
    <h2>Día de festividad del personaje</h2>
<!--% end %>-->
<p>El 9 de mayo del 2015 se decretó en Japón el día de Gokū en honor a este personaje a pedido de Toei Animation. Se elige ese día dado que los números 5 y 9 se pronuncian "Go" y "Ku" respectivamente y su orden es 05/09 o 09 de mayo al respetarse su orden de lectura en japonés.</p>
