<ul>
    <li style="display: inline" ><%= link_to 'Principal',  root_path %></li>
    <li style="display: inline" ><%= link_to 'Acerca de', about_path %></li>
    <li style="display: inline" ><%= link_to 'Caracteristicas', services_path %></li>
    <li style="display: inline" ><%= link_to 'Festividad', date_path %></li>
</ul>